@page
@model IceCreamParlour.Pages.Index1Model
@{
}

@section hmabout{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>Welcome to our Ice Cream Kiosk! We are passionate about creating delicious and unique ice cream flavors that bring joy to our customers. Our mission is to provide a delightful experience with every scoop, using high-quality ingredients and innovative recipes. Whether you're a fan of classic flavors or adventurous combinations, we have something for everyone. Join us on this sweet journey and indulge in the magic of our ice cream creations!</p>
            </div>
            <div class="col-md-6">
                <img src="/images/strawcone2.png" alt="Ice Cream" class="img-fluid rounded icecream" >
            </div>
        </div>
    </div>
}