@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section hmabout{
  <aside class="p-1 rounded-3 position-sticky selection" style="top: 20px;">
  <div class="prop p-2" style="background-color:#f2c1bb;">
  <div style="float:left;">
  <h5>Natural <br />Ingredients</h5>
  </div>
  <div style="float:right;"> 
  <img src="/images/cone.png" alt="cone" height="80px" width="80px" />
  </div>
  </div>

  <div class="prop p-2" style="background-color:#f3be48;">
  <div style="float:left;">
  <h5>Rich Flavour</h5>
  </div>
  <div style="float:right;"> 
  <img src="/images/milkshake.png" alt="cone" height="80px" width="80px" />
  </div>
  </div>

  <div class="prop p-2" style="background-color:#efd2e0;">
 <div style="float:left;">
  <h5>No Artificial <br />Colours</h5>
  </div>
  <div style="float:right;"> 
  <img src="/images/popsickle.png" alt="cone" height="80px" width="80px" />
  </div>
  </div>

  <div class="prop p-2" style="background-color:#e9ca55;">
  <div style="float:left;">
  <h5>Best Cream <br />Formula</h5>
  </div>
  <div style="float:right;"> 
  <img src="/images/kulfi.png" alt="cone" height="80px" width="80px" />
  </div>
  </div>

  <div class="prop p-2" style="background-color:#f0c1b9;">
  <div style="float:left;">
  <h5>Premium baked <br />waffle cone</h5>
  </div>
  <div style="float:right;"> 
  <img src="/images/swirl.png" alt="cone" height="80px" width="80px" />
  </div>
  </div>

</aside>
    <div class="container">
        <div class="row" style="margin-top:-50px;">
            <div class="col-md-6">
                <br /><br /><br />
                <h2 class="icecreamintro">Ice-Creams <br />Created With <br />LOVE and FUN!</h2>
                <p class="fs-6">Our Ice-creams provide a delightful experience with every scoop, using high-quality ingredients and innovative recipes.
                    Whether you're a fan of classic flavors or adventurous combinations, we have something for everyone.
                    Join us on this sweet journey and indulge in the magic of our ice cream creations!</p>
                  
                    <div class="btnunite">
                    <button class="btn">Products <i class="bi bi-arrow-right"></i></button><button class="howitmade">How it's made <i class="bi bi-arrow-right"></i></button>
                    </div>
                    
           

                </div>
            
            <div class="col-md-6 "  style="overflow:clip;height:86.5vh;width:auto;">
                <img src="/images/strawcone2.png" alt="Ice Cream" class="img-fluid rounded icecream" >

            </div>
        </div>
    </div>
}