html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    justify-content: center;
    background-color: #FEF6F2;
    
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}



@font-face {
    font-family: 'MyCustomFont1';
    src: url('/fonts/Wonderbar.ttf') format('opentype');
}
@font-face {
    font-family: 'MyCustomFont2';
    src: url('/fonts/FloryannaDemo.ttf') format('opentype');
}

.myname1 {
    color: #0d6efd;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: #0d6efd;
}

.navbar-brand {
    font-family: 'MyCustomFont1', sans-serif;
    color:#fef6f2;
    font-size: 1.5rem;
    
}

.icecreamintro {
    font-family: 'MyCustomFont2', sans-serif;
    color: #e88ea2;
    font-size: 4rem;
}

.profile-card {
    width: 255px;
    background: white;
    border-radius: 10px;
    margin-left: 24px;
    font-family: Arial;
    border: solid 1px #e9e5df;
    box-shadow: rgba(226, 227, 228, 0.5) 1px 1px;
    margin-bottom: 20px;
}

.githeader {
    background: #e9e5df;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 255px;
    padding: 6px 14px;
}


.logo {
    font-size: 18px;
    font-weight: bold;
    color: #24292e;
}

.card-body {
    padding: 20px;
}

.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-card h3 {
    margin: 5px 0;
}

.bio {
    font-size: 14px;
    line-height: 1.4;
}

.college {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.profile-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 4px 18px;
    border: 1px solid #0a66c2;
    border-radius: 25px;
    text-decoration: none;
    color: #0a66c2;
    font-weight: bold;
}

    .profile-btn:hover {
        background: #d4e9fd;
        border: 2px solid #0a66c2;
    }



.projects {
    background-color: #f8f9fa;
    border-radius: 20px;
}



.linkgit {
    width: 310px;
    border-radius: 20px;
    float: left;
    margin-top: -20px;
}

.hmabout {
    position:relative;
    width: 100%;
    border-radius: 20px;
    height:100%;
    z-index:-1;
}

.linkframe {
    display: block;
    margin-bottom: 100px;
    width: 360px;
    height: 700px;
    margin: auto;
    border-radius: 10px;
}

.profpic {
    border-radius: 10px;
    float: right;
    margin: 10px;
    display: none;
}



.social-icons {
    display: flex;
    gap: 20px; /* space between icons */
    font-size: 30px;
    justify-content: center;
}

    .social-icons a {
        color: black;
        text-decoration: none;
    }

        .social-icons a:hover {
            color: #0077b5; /* optional hover effect */
        }

.refers a {
    display: flex;
    gap: 20px; /* space between icons */
    font-size: 30px;
    justify-content: center;
    text-decoration: none;
}

.project-card {
    margin-bottom: 40px;
}

.project-img {
    width: 100%;
    max-width: 500px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
}

.custom-navbar {
    background-image: url("/images/drip4.png");
    background-size: contain;
    background-position: center;
   
    
    
}

.icecream{
    height:auto;
    width:auto;
    
    
}

.btnunite{
    background-color:#f493aa;
    border-radius:20px;
    float:left;
    
}
.btn{
    border:none;
    bacground-color:none;
    border-radius:20px;
    color:white;
    margin-top:-6px;
    
}
.howitmade{
    border:solid 1px #f493aa;
    border-radius:20px;
    background-color:white;
    padding:10px 5px 10px 5px;
}
    .howitmade:hover {
        color: #f493aa;
    }

aside {
    position: fixed;
    float:right;
    top: 20px;
    width: 250px;
    margin-right:0px;
    margin-top:40px;
    
}

.prop {
    align-content: center;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}

.product-card {
    border: none;
    border-radius: 16px;
    transition: 0.3s;
}

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(255, 105, 180, 0.2);
    }

.filter-box {
    background: #ffe4ec;
    padding: 20px;
    border-radius: 16px;
    float:left;
    margin-top:20px;
    margin-left:10px;
}

.filter-btn {
    background: #ffc0cb;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    margin:3px;
}

    .filter-btn:hover {
        background: #ff99b9;
        color: white;
    }

.qty-btn {
    background-color: #ffc0cb;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s;
}

    .qty-btn:hover {
        background-color: #ff99b9;
        color: white;
    }

.qty-input {
    width: 50px;
    border-radius: 10px;
    border: 1px solid #ddd;
}