<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Codefolio</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Codefolio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
</head>
<body>
    <header class="custom-navbar" style="height: 10.2rem">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  box-shadow mb-3 ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index" >IceCream Kiosk</a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navbarosama">
                    <ul class="navbar-nav flex-grow-1 justify-content-center p-1 ">
                        <li class="nav-item">
                            <a class="nav-link navbar-brand" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-brand" asp-area="" asp-page="/Index1">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-brand" asp-area="" asp-page="/Index2">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-brand" asp-area="" asp-page="/Index3">Delivery</a>
                        </li>

                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <aside class="p-1 rounded-3 position-sticky selection" style="top: 20px;">
  <div class="prop p-2" style="background-color:#f2c1bb;">
  <div style="float:left;">
  <h5>Natural <br />Ingredients</h5>
  </div>
  <div style="float:right;"> 
  <img src="/images/cone.png" alt="cone" height="80px" width="80px" />
  </div>
  </div>

  <div class="prop p-2" style="background-color:#f3be48;">
  <div style="float:left;">
  <h5>Rich Flavour</h5>
  </div>
  <div style="float:right;"> 
  <img src="/images/milkshake.png" alt="cone" height="80px" width="80px" />
  </div>
  </div>

  <div class="prop p-2" style="background-color:#efd2e0;">
 <div style="float:left;">
  <h5>No Artificial <br />Colours</h5>
  </div>
  <div style="float:right;"> 
  <img src="/images/popsickle.png" alt="cone" height="80px" width="80px" />
  </div>
  </div>

  <div class="prop p-2" style="background-color:#e9ca55;">
  <div style="float:left;">
  <h5>Best Cream <br />Formula</h5>
  </div>
  <div style="float:right;"> 
  <img src="/images/kulfi.png" alt="cone" height="80px" width="80px" />
  </div>
  </div>

  <div class="prop p-2" style="background-color:#f0c1b9;">
  <div style="float:left;">
  <h5>Homebaked <br />waffle cone</h5>
  </div>
  <div style="float:right;"> 
  <img src="/images/swirl.png" alt="cone" height="80px" width="80px" />
  </div>
  </div>

</aside>

    <div>

        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

   

    <div >
       
         @RenderSection("hmabout", required:false)
    </div>

  
    
   

 

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>